{% extends "layout.html" %}

{% block body %}

</br>

<form method="GET" action="{{ url_for('monsters_show', monster_id=monster.id) }}">
  <input type="submit" value="Return"/>
</form>

</br>
<form method="POST" action="{{ url_for('monsters_commit_edit', monster_id=monster.id) }}">

<b> {{ form.name.label }} </b> {{ form.name(value=contents.name, size="10", required=True) }} 
<ul>
  {% for error in form.name.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>

<b> {{ form.size.label }} </b>
<select name="size">
  {% for s in size_choices %}
  {% if contents.size == s %}
  <option value={{ s }} selected>{{ s }}</option>
  {% else %}
  <option value={{ s }}>{{ s }}</option>
  {% endif %}
  {% endfor %}
</select>
<b> {{ form.mtype.label }} </b>
<select name="mtype">
  {% for t in type_choices %}
  {% if contents.mtype == t %}
  <option value={{ t }} selected>{{ t }}</option>
  {% else %}
  <option value={{ t }}>{{ t }}</option>
  {% endif %}
  {% endfor %}
</select>
<br>
<ul>
  {% for error in form.size.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<ul>
  {% for error in form.mtype.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.ac.label }} </b> {{ form.ac(value=contents.ac, size="5") }} 
<ul>
  {% for error in form.ac.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.hp.label }} </b> {{ form.hp(value=contents.hp, size="5") }} 
<ul>
  {% for error in form.hp.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.spd.label }} </b> {{ form.spd(value=contents.spd, size="10") }} 
<ul>
  {% for error in form.spd.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<table>
  <colgroup>
    <col span="1">
  </colgroup>
  <tr>
    <th><b>STR</b></th>
    <th><b>DEX</b></th>
    <th><b>CON</b></th>
    <th><b>INT</b></th>
    <th><b>WIS</b></th>
    <th><b>CHA</b></th>
  </tr>
  <tr>
    <td>{{ form.stre(value=contents.stre, size="1") }}</td>
    <td>{{ form.dex(value=contents.dex, size="1") }}</td>
    <td>{{ form.con(value=contents.con, size="1") }}</td>
    <td>{{ form.inte(value=contents.inte, size="1") }}</td>
    <td>{{ form.wis(value=contents.wis, size="1") }}</td>
    <td>{{ form.cha(value=contents.cha, size="1") }}</td>
  </tr>
  <tr>
    <td>
      <ul>
        {% for error in form.stre.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for error in form.dex.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for error in form.con.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for error in form.inte.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for error in form.wis.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for error in form.cha.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>
<b> {{ form.saves.label }} </b> {{ form.saves(value=contents.saves, size="15") }} 
<ul>
  {% for error in form.saves.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.skills.label }} </b> {{ form.skills(value=contents.skills, size="15") }} 
<ul>
  {% for error in form.skills.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.weakto.label }} </b> {{ form.weakto(value=contents.weakto, size="15") }} 
<ul>
  {% for error in form.weakto.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.resist.label }} </b> {{ form.resist(value=contents.resist, size="15") }} 
<ul>
  {% for error in form.resist.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.immun.label }} </b> {{ form.immun(value=contents.immun, size="15") }} 
<ul>
  {% for error in form.immun.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.coimmun.label }} </b> {{ form.coimmun(value=contents.coimmun, size="15") }} 
<ul>
  {% for error in form.coimmun.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.sens.label }} </b> {{ form.sens(value=contents.sens, size="15", required=True) }} 
<ul>
  {% for error in form.sens.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<b> {{ form.cr.label }} </b>
<select name="cr">
  {% for c in cr_choices %}
  {% if contents.cr == c %}
  <option value={{ c }} selected>{{ c }}</option>
  {% else %}
  <option value={{ c }}>{{ c }}</option>
  {% endif %}
  {% endfor %}
</select> 
<ul>
  {% for error in form.cr.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
<h5>TRAITS</h5>
{% for trait in traits %}
<div>
  <p><b><i>{{ trait.name }}{% if trait.usage != "" %} ({{ trait.usage }}){% endif %}</i>. </b>{{ trait.content }}
  <input type="submit" value="Delete" formaction="{{ url_for('monsters_delete_trait', monster_id=monster.id, trait_id=trait.id ) }}"/></p>
</div>
{% endfor %}
<br>

<button type="button" onclick="new_trait()">Trait creation</button><br>
<div id="traitbox"></div><br>

<h5>ACTIONS</h5>
{% for action in actions %}
<div>
  <p><b><i>{{ action.name }}{% if action.usage != "" %} ({{ action.usage }}){% endif %}</i>. </b>{{ action.content }}
  <input type="submit" value="Delete" formaction="{{ url_for('monsters_delete_action', monster_id=monster.id, action_id=action.id) }}"/></p>
</div>
{% endfor %}

<button type="button" onclick="new_action()">Action creation</button><br>
<div id="actionbox"></div><br>


<h5>REACTIONS</h5>
{% for reaction in reactions %}
<div>
  <p><b><i>{{ reaction.name }}. </i></b>{{ reaction.content }}
  <input type="submit" value="Delete" formaction="{{ url_for('monsters_delete_reaction', monster_id=monster.id, reaction_id=reaction.id) }}"/></p>
</div>
{% endfor %}

<button type="button" onclick="new_reaction()">Reaction creation</button><br>
<div id="reactionbox"></div><br>

<b><label for="legendary_check">Is Legendary?</label></b>
{% if contents.l_checkbox == "True" %}
<input type="checkbox" id="legendary_check" name="legendary_check" value="True" onclick="show_lege_view()" checked/><br>
<div id="lege_view" style="display:block">
{% else %} 
<input type="checkbox" id="legendary_check" name="legendary_check" value="False" onclick="show_lege_view()"/><br>
<div id="lege_view" style="display:none">
{% endif %}
<h5>LEGENDARY ACTIONS</h5>
<label for="l_points"><b>Legendary Actions per turn   </b></label>
<input type="number" id="l_points" name="l_points" min="0" max="10" value="{{ contents.l_points }}" style="width: 45px"/><br><br>
{% for lege in legendaries %}
<div>
  <p><b>{{ lege.name }}{% if lege.cost > 1 %} (Costs {{ lege.cost }} Actions){% endif %}. </b>{{ lege.content }}
  <input type="submit" value="Delete" formaction="{{ url_for('monsters_delete_legendary', monster_id=monster.id, legendary_id=lege.id) }}"/></p>
</div>
{% endfor %}

<button type="button" onclick="new_legendary()">Legendary Action creation</button><br>
<div id="legendarybox"></div><br>
</div>
<br><br>



<script>

  var t_slot = document.getElementById("traitbox")
  var a_slot = document.getElementById("actionbox")
  var r_slot = document.getElementById("reactionbox")
  var l_slot = document.getElementById("legendarybox")
  var l_checkbox = document.getElementById("legendary_check")
  var lege_view = document.getElementById("lege_view")


  var t_html = "<br><b> Title </b><input type='text' name='t_title' id='t_title' required=True maxlength='60'/><br><br>"
  + "<b> Usage details </b><input type='text' name='t_usage' id='t_usage' maxlength='60'/><br><br>"
  + "<b> Function </b><br><textarea name='t_content' id='t_content' cols='40' rows='5' required=True maxlength='1000'></textarea><br>"
  var t_creation =  "<input type='submit' value='Create Trait' formaction='{{ url_for('monsters_create_trait', monster_id=monster.id) }}'/>"

  var a_html = "<br><b> Title </b><input type='text' name='a_title' id='a_title' required=True maxlength='60'/><br><br>"
  + "<b> Usage details </b><input type='text' name='a_usage' id='a_usage' maxlength='60'/><br><br>"
  + "<b> Function </b><br><textarea name='a_content' id='a_content' cols='40' rows='5' required=True maxlength='1000'></textarea><br>"
  var a_creation = "<input type='submit' value='Create Action' formaction='{{ url_for('monsters_create_action', monster_id=monster.id) }}'/>"

  var r_html = "<br><b> Title </b><input type='text' name='r_title' id='r_title' required=True maxlength='60'/><br><br>"
  + "<b> Function </b><br><textarea name='r_content' id='r_content' cols='40' rows='5' required=True maxlength='1000'></textarea><br>"
  var r_creation = "<input type='submit' value='Create Reaction' formaction='{{ url_for('monsters_create_reaction', monster_id=monster.id) }}'/>"

  var l_html = "<br><b> Title </b><input type='text' name='l_title' id='l_title' required=True maxlength='60'/><br><br>"
  + "<b> Action Cost </b><input type='number' name='l_cost' id='l_cost' required=True value='1' min='1' max='10' style='width: 45px'/><br>"
  + "<b> Function </b><br><textarea name='l_content' id='l_content' cols='40' rows='5' required=True maxlength='1000'></textarea><br>"
  var l_creation = "<input type='submit' value='Create Legendary Action' formaction='{{ url_for('monsters_create_legendary', monster_id=monster.id) }}'/>"

  function new_trait() {
    if (t_slot.innerHTML == "") {
      t_slot.innerHTML = t_html + t_creation;
    } else {
      var tt = document.getElementById("t_title")
      var tu = document.getElementById("t_usage")
      var tc = document.getElementById("t_content")
      if (tt.value == "" && tu.value == "" && tc.value == "") {
        t_slot.innerHTML = "";
      }
    }
  }

  function new_action() {
    if (a_slot.innerHTML == "") {
      a_slot.innerHTML = a_html + a_creation;
    } else {
      var at = document.getElementById("a_title")
      var au = document.getElementById("a_usage")
      var ac = document.getElementById("a_content")
      if (at.value == "" && au.value == "" && ac.value == "") {
        a_slot.innerHTML = "";
      }
    }
  }

  function new_reaction() {
    if (r_slot.innerHTML == "") {
      r_slot.innerHTML = r_html + r_creation;
    } else {
      var rt = document.getElementById("r_title")
      var rc = document.getElementById("r_content")
      if (rt.value == "" && rc.value == "") {
        r_slot.innerHTML = "";
      } 
    }
  }

  function new_legendary() {
    if (l_slot.innerHTML == "") {
      l_slot.innerHTML = l_html + l_creation;
    } else {
      var lt = document.getElementById("l_title")
      var lcs = document.getElementById("l_cost")
      var lc = document.getElementById("l_content")
      if (lt.value == "" && lcs.value == "" && lc.value == "") {
        l_slot.innerHTML = "";
      }
    }
  }

  function show_lege_view() {
    if (l_checkbox.checked == true) {
      lege_view.style.display = "block";
      l_checkbox.value = "True";
      document.getElementById("l_points").value = 1;
    } else {
      document.getElementById("l_points").value = 0;
      l_checkbox.value = "False";
      lege_view.style.display = "none";
    }
  }

</script>

<b> {{ form.descrip.label }} </b> </br>
<textarea name="descrip" cols="40" rows="10" required>{{ contents.descrip }}</textarea>
<ul>
  {% for error in form.descrip.errors %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>

<b> {{ form.public.label }} </b>
{% if contents.public %}
{{ form.public(checked=True) }}
{% else %}
{{ form.public }}
{% endif %}
<br>
<input type="submit" value="Confirm changes"><br><br>
</form>
{% endblock %}


