{% extends "layout.html" %}
{% block body %}

{% if monsters %}
<table>
  <tr>
    <th>Users with most monsters</th>
    <th>Search monsters by size</th>
  </tr>
  <tr>
    <td><button type="button" class="btn btn-light" onclick="show_most_monsters()">Most monsters</button></td>
    <td>
      <select class="form-control" id="size_input">
        <option value="Tiny">Tiny</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
        <option value="Huge">Huge</option>
        <option value="Gargantuan">Gargantuan</option>
      </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><button type="button" class="btn btn-light" onclick="show_search_size()">Search</button></td>
  </tr>
</table>
<br>
<div id="most_monsters" style="display:none">
  <p><b> Ranking: Most monsters created </b></p>
    <table>
    <tr>
      <th>User</th>
      <th>Monsters</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td> {{ user.id }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

<div id="search_size"></div>

<br>
{% endif %}

<script> 
 
  var most_monsters = document.getElementById("most_monsters")
  var search_size = document.getElementById("search_size")
  var showing = 0

  function show_most_monsters() {
    if (showing == 1) {
      most_monsters.style.display = "none";
      showing = 0;
    } else {
      most_monsters.style.display = "block";
      search_size.innerHTML = "";
      showing = 1;
    }
  }
  

  function show_search_size() {

    var x = document.getElementById("size_input").selectedIndex
    var size_select = document.getElementsByTagName("option")[x].value
    var size_html = "<table><tr>"
    + "<th>Monster</th><th>Size</th><th>Type</th><th>CR</th>"
    + "<th>Public</th><th>Creator</th></tr>"
    + "{% for monster in monsters %}<tr>"
    if (size_select == 'Tiny') {
      size_html += "{% if monster.size == 'Tiny' %}"
      size_html += "<td>{{ monster.name }}</td><td>{{ monster.size }}</td>"
      + "<td>{{ monster.mtype }}</td><td>{{ monster.cr }}</td>"
      + "<td>{{ monster.public }}</td><td> {{ monster.account_name }}</td>"
      + "<td><form method='GET' action='{{ url_for('monsters_show', monster_id=monster.id) }}'>"
      + "<button type='submit' class='btn btn-light'>Show</button></form></td>"
      size_html += "{% endif %}"
    } else if (size_select == 'Small') {
      size_html += "{% if monster.size == 'Small' %}"
      size_html += "<td>{{ monster.name }}</td><td>{{ monster.size }}</td>"
      + "<td>{{ monster.mtype }}</td><td>{{ monster.cr }}</td>"
      + "<td>{{ monster.public }}</td><td> {{ monster.account_name }}</td>"
      + "<td><form method='GET' action='{{ url_for('monsters_show', monster_id=monster.id) }}'>"
      + "<button type='submit' class='btn btn-light'>Show</button></form></td>"
      size_html += "{% endif %}"
    } else if (size_select == 'Medium') {
      size_html += "{% if monster.size == 'Medium' %}"
      size_html += "<td>{{ monster.name }}</td><td>{{ monster.size }}</td>"
      + "<td>{{ monster.mtype }}</td><td>{{ monster.cr }}</td>"
      + "<td>{{ monster.public }}</td><td> {{ monster.account_name }}</td>"
      + "<td><form method='GET' action='{{ url_for('monsters_show', monster_id=monster.id) }}'>"
      + "<button type='submit' class='btn btn-light'>Show</button></form></td>"
      size_html += "{% endif %}"
    } else if (size_select == 'Large') {
      size_html += "{% if monster.size == 'Large' %}"
      size_html += "<td>{{ monster.name }}</td><td>{{ monster.size }}</td>"
      + "<td>{{ monster.mtype }}</td><td>{{ monster.cr }}</td>"
      + "<td>{{ monster.public }}</td><td> {{ monster.account_name }}</td>"
      + "<td><form method='GET' action='{{ url_for('monsters_show', monster_id=monster.id) }}'>"
      + "<button type='submit' class='btn btn-light'>Show</button></form></td>"
      size_html += "{% endif %}"
    } else if (size_select == 'Huge') {
      size_html += "{% if monster.size == 'Huge' %}"
      size_html += "<td>{{ monster.name }}</td><td>{{ monster.size }}</td>"
      + "<td>{{ monster.mtype }}</td><td>{{ monster.cr }}</td>"
      + "<td>{{ monster.public }}</td><td> {{ monster.account_name }}</td>"
      + "<td><form method='GET' action='{{ url_for('monsters_show', monster_id=monster.id) }}'>"
      + "<button type='submit' class='btn btn-light'>Show</button></form></td>"
      size_html += "{% endif %}"
    } else if (size_select == 'Gargantuan') {
      size_html += "{% if monster.size == 'Gargantuan' %}"
      size_html += "<td>{{ monster.name }}</td><td>{{ monster.size }}</td>"
      + "<td>{{ monster.mtype }}</td><td>{{ monster.cr }}</td>"
      + "<td>{{ monster.public }}</td><td> {{ monster.account_name }}</td>"
      + "<td><form method='GET' action='{{ url_for('monsters_show', monster_id=monster.id) }}'>"
      + "<button type='submit' class='btn btn-light'>Show</button></form></td>"
      size_html += "{% endif %}"
    }
    size_html += "</tr>{% endfor %}</table>"
    search_size.innerHTML = size_html;
    showing = 2
  }

</script>

<h5>Monsters</h5>
<p>This list shows your monsters and public monsters created by other users.<p>
{% if monsters %}

  <table>
    <tr>
      <th>Monster</th>
      <th>Size</th>
      <th>Type</th>
      <th>CR</th>
      <th>Public</th>
      <th>Creator</th>
    </tr>
    {% for monster in monsters %}
    <tr>
      <td>{{ monster.name }}</td>
      <td>{{ monster.size }}</td>
      <td>{{ monster.mtype }}</td>
      <td>{{ monster.cr }}</td>
      <td>{{ monster.public }}</td>
      <td> {{ monster.account_name }}</td>
      <td>
        <form method="GET" action="{{ url_for('monsters_show', monster_id=monster.id) }}">
          <button type="submit" class="btn btn-light">Show</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% else %}
<p>Nothing here yet. <a href="{{ url_for('monsters_form') }}">Create a new monster.</a></p>
{% endif %}

{% endblock %}
