{% extends "layout.html" %}

{% block body %}

</br>
<form method="GET" action="{{ url_for('monsters_index') }}">
  <button type="submit" class="btn btn-light">To Index</button>
</form>
</br>

<div class="container blockborders" style="background: #f7ebb2; max-width:500px; margin-left:0;">
<div class="monsterdiv">
<br>
<h2 style="color: #872713;"> {{ monster.name }} </h2>
<span><i> {{ monster.size }} <span class="text-lowercase">{{ monster.mtype }} </i></span></span></br>
<hr class="thickhr">
<span style="color: #872713;"><b> Armor Class </b> {{ monster.ac }}</span></br>
<span style="color: #872713;"><b> Hit Points </b> {{ monster.hp }}</span></br>
<span style="color: #872713;"><b> Speed </b> {{ monster.spd }}</span></br>
<hr class="thickhr">

<div class="xsdiv">
<table class="table table-borderless table-sm" style="color:#872713;">
  <thead>
    <tr>
      <th scope="col" class="text text-center"><b>STR</b></th>
      <th scope="col" class="text text-center"><b>DEX</b></th>
      <th scope="col" class="text text-center"><b>CON</b></th>
      <th scope="col" class="text text-center"><b>INT</b></th>
      <th scope="col" class="text text-center"><b>WIS</b></th>
      <th scope="col" class="text text-center"><b>CHA</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text text-center">{{ monster.stre }} ({{ mods.stre }})</td>
      <td class="text text-center">{{ monster.dex }} ({{ mods.dex }})</td>
      <td class="text text-center">{{ monster.con }} ({{ mods.con }})</td>
      <td class="text text-center">{{ monster.inte }} ({{ mods.inte }})</td>
      <td class="text text-center">{{ monster.wis }} ({{ mods.wis }})</td>
      <td class="text text-center">{{ monster.cha }} ({{ mods.cha }})</td>
    </tr>
  </tbody>
</table>
</div>
<hr class="thickhr">

{% if monster.saves != "" %}
<span style="color: #872713;"><b> Saving Throws </b> {{ monster.saves }}</span></br>
{% endif %}
{% if monster.skills != "" %}
<span style="color: #872713;"><b> Skills </b> {{ monster.skills }}</span></br>
{% endif %}
{% if monster.weakto != "" %}
<span style="color: #872713;"><b> Damage Vulnerabilities </b> {{ monster.weakto }}</span></br>
{% endif %}
{% if monster.resist != "" %}
<span style="color: #872713;"><b> Damage Resistances </b> {{ monster.resist }}</span></br>
{% endif %}
{% if monster.immun != "" %}
<span style="color: #872713;"><b> Damage Immunities </b> {{ monster.immun }}</span></br>
{% endif %}
{% if monster.coimmun != "" %}
<span style="color: #872713;"><b> Condition Immunities </b> {{ monster.coimmun }}</span></br>
{% endif %}

<span style="color: #872713;"><b> Senses </b> {{ monster.sens }}</span></br>
<span style="color: #872713;"><b> Challenge </b> {{ monster.cr }} ({{ exp }} XP)</span></br>
<hr class="thickhr">
{% if traits %}
{% for trait in traits %}
<div>
  <p><b><i>{{ trait.name }}{% if trait.usage != "" %} ({{ trait.usage }}){% endif %}</i>. </b><span class="descrip">{{ trait.content }}</span></p>
</div>
{% endfor %}
{% endif %}
{% if actions %}
<h5 class="title" style="color: #872713;">ACTIONS</h5>
{% for action in actions %}
<div>
  <p><b><i>{{ action.name }}{% if action.usage != "" %} ({{ action.usage }}){% endif %}</i>. </b>{{ action.content }}</p>
</div>
{% endfor %}
{% endif %}

{% if reactions %}
<h5 class="title" style="color: #872713;">REACTIONS</h5>
{% for reaction in reactions %}
<div class="smalldiv">
  <p><b><i>{{ reaction.name }}. </i></b>{{ reaction.content }}</p>
</div>
{% endfor %}
{% endif %}

{% if legendaries %}
<h5 class="title" style="color: #872713;">LEGENDARY ACTIONS</h5>
{% if monster.l_points != 1 %}
<div>{{ monster.name }} can take {{ monster.l_points }} legendary actions, choosing from the options below. Only one legendary action can be used at a time and only at the end of another creature's turn. {{ monster.name }} regains spent legendary actions at the start of its turn.</div>
{% else %}
<div>{{ monster.name }} can take {{ monster.l_points }} legendary action, choosing from the options below. Only one legendary action can be used at a time and only at the end of another creature's turn. {{ monster.name }} regains spent legendary actions at the start of its turn.</div>
{% endif %}
<br>
{% for lege in legendaries %}
<div>
  <p><b>{{ lege.name }}{% if lege.cost > 1 %} (Costs {{ lege.cost }} Actions){% endif %}. </b>{{ lege.content }}</p>
</div>
{% endfor %}
{% endif %}
<br>
</div></div>

<br>
<div class="container">
  <p class="descrip"><i>{{ monster.descrip }}</i></p>
</br>
{% if authorized %}
{% if monster.public %}
<i>Public</i>
{% else %}
<i>Private</i>
{% endif %}
<span><i>-- Created by {{ monster.account_name }}</i></span><br>
</div>
<br>
<table>
  <tr>
    <td>
      <form method="POST" action="{{ url_for('monsters_toggle_public', monster_id=monster.id) }}">
        <button type="submit" class="btn btn-light">Toggle Publicity</button>
      </form>
    </td>
    <td>
      <button type="button" class="btn btn-light text-danger" data-toggle="collapse" data-target="#confirm_window">Delete</button>
    </td>
    <td>
      <form method="GET" action="{{ url_for('monsters_edit', monster_id=monster.id) }}">
        <button type="submit" class="btn btn-light">Edit</button>
      </form>
    </td>
  </tr>
</table>
<br>
<form method="POST" action="{{ url_for('monsters_remove', monster_id=monster.id) }}">
  <div class="collapse" id="confirm_window">
    <div class="card card-body" style="width: 14rem;">
      <h5 class="card-title text-danger text-center">Warning</h5>
      <div class="row">
        <div class="col-auto text-center"><b>Are you sure you want to delete this monster?</b></div>
      </div><br>
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#confirm_window">Cancel</button>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
<br><br>
{% endif %}

{% endblock %}
