{% extends "layout.html" %}

{% block body %}

</br>

<form method="GET" action="{{ url_for('monsters_index') }}">
  <input type="submit" value="Back to index"/>
</form>

</br>

<i> Created by {{ monster.account_name }} </i>
<h2> {{ monster.name }} </h2>

<i> {{ monster.size }} {{ monster.mtype }} </i> </br>
</br>

<b> Armor Class </b> {{ monster.ac }} </br>
<b> Hit Points </b> {{ monster.hp }} </br>
<b> Speed </b> {{ monster.spd }} </br>

</br>

<table>
  <colgroup>
    <col span="1">
  </colgroup>
  <tr>
    <th><b>STR</b></th>
    <th><b>DEX</b></th>
    <th><b>CON</b></th>
    <th><b>INT</b></th>
    <th><b>WIS</b></th>
    <th><b>CHA</b></th>
  </tr>
  <tr>
    <td>{{ monster.stre }}</td>
    <td>{{ monster.dex }}</td>
    <td>{{ monster.con }}</td>
    <td>{{ monster.inte }}</td>
    <td>{{ monster.wis }}</td>
    <td>{{ monster.cha }}</td>
  </tr>
</table>

</br>

{% if monster.saves != "" %}
        <b> Saving Throws </b> {{ monster.saves }} </br>
{% endif %}

{% if monster.skills != "" %}
        <b> Skills </b> {{ monster.skills }} </br>
{% endif %}

{% if monster.weakto != "" %}
        <b> Vulnerabilities </b> {{ monster.weakto }} </br>
{% endif %}

{% if monster.resist != "" %}
        <b> Resistances </b> {{ monster.resist }} </br>
{% endif %}

{% if monster.immun != "" %}
        <b> Immunities </b> {{ monster.immun }} </br>
{% endif %}

{% if monster.coimmun != "" %}
        <b> Condition Immunities </b> {{ monster.coimmun }} </br>
{% endif %}

<b> Senses </b> {{ monster.sens }} </br>
<b> Challenge </b> {{ monster.cr }} </br>

</br>

<div>
  <p> <i> {{ monster.descrip }} </i> </p>
</div>

</br>
{% if monster.account_id == current_user.id %}
<i> Public: {{ monster.public }} </i>
</br> 
<table>
  <tr>
    <td>
      <form method="POST" action="{{ url_for('monsters_toggle_public', monster_id=monster.id) }}">
        <input type="submit" value="Toggle publicity"/>
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('monsters_remove', monster_id=monster.id) }}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
    <td>
      <form method="GET" action="{{ url_for('monsters_edit', monster_id=monster.id) }}">
        <input type="submit" value="Edit"/>
      </form>
    </td>
  </tr>
</table>
{% endif %}

{% endblock %}
