{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('monsters_create') }}">
  <label>Name:</label> <input type="text" name="name" required/><br/><br/>
  <label>Description:</label> <input type="text" name="descrip"required/><br/><br/>

  <label for="mtype">Type:</label>

  <select name="mtype" id="mtype">
    <option value="Aberration">Aberration</option>
    <option value="Beast">Beast</option>
    <option value="Celestial">Celestial</option>
    <option value="Construct">Construct</option>
    <option value="Dragon">Dragon</option>
    <option value="Elemental">Elemental</option>
    <option value="Fey">Fey</option>
    <option value="Fiend">Fiend</option>
    <option value="Giant">Giant</option>
    <option value="Humanoid">Humanoid</option>
    <option value="Monstrosity">Monstrosity</option>
    <option value="Ooze">Ooze</option>
    <option value="Plant">Plant</option>
    <option value="Undead">Undead</option>
  </select>
  <br/><br/>

  <label for="size">Size:</label>

  <select name="size" id="size">
    <option value="Tiny">Tiny</option>
    <option value="Small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
    <option value="Huge">Huge</option>
    <option value="Gargantuan">Gargantuan</option>
  </select>
  <br/><br/>

  <label for="cr">Challenge Rating:</label>

  <select name="cr" id="cr">
    <option value="0">0</option>
    <option value="1/8">1/8</option>
    <option value="1/4">1/4</option>
    <option value="1/2">1/2</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
  </select>
  <br/><br/>

  <label>Vulnerabilities:</label> <input type="text" name="weakto" value="-" required/><br/><br/>
  <label>Resistances:</label> <input type="text" name="resist"value="-" required/><br/><br/>
  <label>Hit Points:</label> <input type="number" name="hp" value="10" min="1" required/><br/><br/>
  <label>Armor Class:</label> <input type="number" name="ac" value="10" min="1" max="30" required/><br/><br/>
  <label>Strength:</label> <input type="number" name="stre" value="10" min="1" max="30" required/><br/><br/>
  <label>Dexterity:</label> <input type="number" name="dex" value="10" min="1" max="30" required/><br/><br/>
  <label>Constitution:</label> <input type="number" name="con" value="10" min="1" max="30" required/><br/><br/>
  <label>Intelligence:</label> <input type="number" name="inte" value="10" min="1" max="30" required/><br/><br/>
  <label>Wisdom:</label> <input type="number" name="wis" value="10" min="1" max="30" required/><br/><br/>
  <label>Charisma:</label> <input type="number" name="cha" value="10" min="1" max="30" required/><br/><br/>
  <input type="submit" value="Create a new monster"/>
</form>
{% endblock %}
