{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h6>Welcome!</h6>
    </div>
  </div>
{% if current_user.is_authenticated %}
  <div class="row">
    <div class="col">
      <h5>Latest modified</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <b>Monster</b>
    </div>
    <div class="col-sm-4">
      <b>Environment</b>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-truncate">
      {% if monster is defined %}
      <a href="{{ url_for('monsters_show', monster_id=monster.id) }}">{{ monster.name }}</a>
      {% else %}
      <span><b>-</b></span>
      {% endif %}
    </div>
    <div class="col-sm-4 text-truncate">
      {% if enviro is defined %}
      <a href="{{ url_for('enviros_show', enviro_id=enviro.id) }}">{{ enviro.name }}</a>
      {% else %}
      <span><b>-</b></span>
      {% endif %}
    </div>
  </div>
{% endif %}
</div>

{% endblock %}
