{% extends "layout.html" %}

{% block body %}
  <div>
    <h6 onclick="welcome()">Welcome!</h6>
    <p id="welcome"></p>
  </div>

<script>
  function welcome() {
    if (document.getElementById("welcome").innerHTML == "Hello...") {
      document.getElementById("welcome").innerHTML = "...fantasyworld!";
    } else {
      document.getElementById("welcome").innerHTML = "Hello...";
    }
  }
</script>

{% if current_user.is_authenticated %}
<table>
  <tr>
    <h5>    Latest modified    </h5>
  </tr>
  <tr>
    <th>
      <b> Monster  </b>
    </th>
    <th>
      <b>  Environment </b>
    </th>
  </tr>
  <tr>
    <td>
      {% if monster is defined %}
      <a href="{{ url_for('monsters_show', monster_id=monster.id) }}" >{{ monster.name }}</a>
      {% else %}
      <span> - </span>
      {% endif %}
    </td>
    <td>
      {% if enviro is defined %}
      <a href="{{ url_for('enviros_show', enviro_id=enviro.id) }}">{{ enviro.name }}</a>
      {% else %}
      <span> - </span>
      {% endif %}
    </td>
  </tr>
</table>
{% endif %}

{% endblock %}
