<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monsterikanta</title>
  </head>
  <style>
  div {
    max-width: 500px;
  }
  </style>
  <body>
    {% if current_user.is_authenticated %}
    <p>
      Logged in as {{ current_user.name }} <a href="{{ url_for('auth_logout') }}">Log out</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Log in</a>
    <a href="{{ url_for('auth_form') }}">Sign in</a>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('monsters_index') }}">List monsters</a></li>
      <li><a href="{{ url_for('monsters_form') }}">Create a new monster</a></li>
      <li><a href="{{ url_for('enviros_index') }}">List environments</a></li>
      <li><a href="{{ url_for('enviros_form') }}">Create a new environment</a></li>
    </ul>

    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
