{% extends "layout.html" %}
{% block body %}

<div class="row">
<div class="col-auto">
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col" class="text text-center">User</th>
      <th scope="col" class="text text-center">Date created</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td class="text text-center">{{ user.name }}</td>
      <td class="text text-center">{{ user.date_created }}</td>
      <td>
        <form method="POST" action="{{ url_for('admin_delete_user', account_id = user.id) }}">
          <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>


{% endblock %}
