{% extends "layout.html" %}
{% block body %}

<div class="row">
<div class="col-auto">
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col" class="text text-center">User</th>
      <th scope="col" class="text text-center">Date Created</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td class="text text-center"><a href="{{ url_for('userpage', user_id = user.id) }}" class="stylelink">{{ user.name }}</a></td>
      <td class="text text-center">{{ user.date_created }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>


{% endblock %}
