{% extends "layout.html" %}

{% block body %}

<br>
<form method="GET" action="{{ url_for('enviros_show', enviro_id=enviro.id) }}">
  <button type="submit" class="btn btn-light">Return</button>
</form>
<br>

<form method="POST" action="{{ url_for('enviros_edit', enviro_id = enviro.id) }}">

  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label font-weight-bold">{{ form.name.label }}</label>
    <div class="col-auto">
      {{ form.name(value=enviro.name, class="form-control", id="name", maxlength="35", placeholder="Environment") }}
      <small class="form-text text-danger">
      {% for error in form.name.errors %}{{ error }}<br>{% endfor %}</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="etype" class="col-sm-2 col-form-label font-weight-bold">{{ form.etype.label }}</label>
    <div class="col-auto">
      <select class="form-control" name="etype">
        {% for e in etype_choices %}
        {% if enviro.etype == e %}
        <option value={{ e }} selected>{{ e }}</option>
        {% else %}
        <option value={{ e }}>{{ e }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <small class="form-text text-danger">
      {% for error in form.etype.errors %}{{ error }}<br>{% endfor %}</small>
    </div>
  </div>

  <div class="form-group">
    <label for="descrip" class="font-weight-bold">{{ form.descrip.label }}</label>
    <textarea name="descrip" class="form-control" id="descrip" rows="10" required=True>{{ enviro.descrip }}</textarea>
    <small class="form-text text-danger">
    {% for error in form.descrip.errors %}{{ error }}<br>{% endfor %}</small>
  </div>

  <div class="form-check">
    {% if enviro.public %}
    {{ form.public(class="form-check-input", id="public", checked=True) }}
    {% else %}
    {{ form.public(class="form-check-input", id="public") }}
    {% endif %}
    <label class="form-check-label font-weight-bold" for="public">{{ form.public.label }}</label>
    <small>{% for error in form.public.errors %}{{ error }}<br>{% endfor %}</small>
  </div>

  <button type="submit" class="btn btn-light" id="submitter">Confirm Changes</button>
</form>

{% endblock %}
