{% extends "layout.html" %}

{% block body %}

<br>

<form method="GET" action="{{ url_for('enviros_index') }}">
  <input type="submit" value="Return"/>
</form>

<br>

<i> Created by {{ enviro.account_name }} </i>
<h2> {{ enviro.name }} </h2>
<i> {{ enviro.etype }} </i> <br>

<div>
  <p> {{ enviro.descrip }} </p>
</div>

<br>

{% if enviro.account_id == current_user.id %}
{% if enviro.public %}
<i> Public </i>
{% else %}
<i> Private </i>
{% endif %}
<br>
<table>
  <tr>
    <td>
      <form method="POST" action="{{ url_for('enviros_toggle_public', enviro_id = enviro.id) }}">
        <input type="submit" value="Toggle publicity"/>
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('enviros_remove', enviro_id = enviro.id) }}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
    <td>
      <form method="GET" action="{{ url_for('enviros_edit', enviro_id=enviro.id) }}">
        <input type="submit" value="Edit"/>
      </form>
    </td>
  </tr>
</table>
{% endif %}
{% if local_monsters is defined %}
<br>
<p>
 <i> Local monsters </i>
</p>

<ul>
  {% for monster in local_monsters %}
  {% if (monster.public) or (current_user.id == enviro.id) %}
  <li>
    <a href="{{ url_for('monsters_show', monster_id=monster.id) }}">{{ monster.name }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% if enviro.account_id == current_user.id %}
<a href="{{ url_for('enviros_manage_local_monsters', enviro_id = enviro.id) }}">Manage local monsters</a>
{% block manage %}
<p> </p>
{% endblock %}
{% endif %}

{% endblock %}
