{% extends "layout.html" %}

{% block body %}

<br>

<form method="GET" action="{{ url_for('enviros_index') }}">
  <button type="submit" class="btn btn-light">To Index</button>
</form>

<br>

<i> Created by {{ enviro.account_name }} </i>
<h2> {{ enviro.name }} </h2>
<i> {{ enviro.etype }} </i> <br>

<div>
  <p> {{ enviro.descrip }} </p>
</div>

<br>

{% if authorized %}
{% if enviro.public %}
<i> Public </i><br>
{% else %}
<i> Private </i><br>
{% endif %}
<br>
<table>
  <tr>
    <td>
      <form method="POST" action="{{ url_for('enviros_toggle_public', enviro_id = enviro.id) }}">
        <button type="submit" class="btn btn-light">Toggle Publicity</button>
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('enviros_remove', enviro_id = enviro.id) }}">
        <button type="submit" class="btn btn-light">Delete</button>
      </form>
    </td>
    <td>
      <form method="GET" action="{{ url_for('enviros_edit', enviro_id=enviro.id) }}">
        <button type="submit" class="btn btn-light">Edit</button>
      </form>
    </td>
  </tr>
</table>
<br>
{% endif %}
{% if local_monsters %}
<br>
<p>
 <i> Local monsters </i>
</p>

<ul>
  {% for monster in local_monsters %}
  {% if monster.public == True %}
  <li>
    <a href="{{ url_for('monsters_show', monster_id=monster.id) }}">{{ monster.name }}</a>
  </li>
  {% elif authorized  %}
  <li>
    <a href="{{ url_for('monsters_show', monster_id=monster.id) }}">{{ monster.name }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% if authorized %}
<button type="button" class="btn btn-light" onclick="show_manage()">Manage local monsters</button><br><br>
<div id="mon_manage" hidden>
{% if all_monsters %}
<form method=["POST"] action="{{ url_for('enviros_add_monster', enviro_id=enviro.id) }}">
  <label for="add_mon"><b>Add a monster</b></label> <br>
  <div class="form-group row">
    <div class="col-auto">
      <select class="form-control" name="addmon" id="add_mon">
        {% for monster in all_monsters %}
        <option value="{{ monster.id }}">{{ monster.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-light">Add</button>
    </div>
  </div>
</form>
{% else %}
<p> No available monsters to add. </p>
{% endif %}
<br>
{% if local_monsters %}
<form method=["POST"] action="{{ url_for('enviros_remove_monster', enviro_id=enviro.id) }}">
  <label for="remove_mon""><b>Remove a monster</b></label><br>
  <div class="form-group row">
    <div class="col-auto">
      <select class="form-control" name="removemon" id="remove_mon">
        {% for monster in local_monsters %}
        <option value="{{ monster.id }}">{{ monster.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-light">Remove</button>
    </div>
  </div>
</form>
{% else %}
<p> No monsters in this area. </p>
{% endif %}


</div>

<script>
var slot = document.getElementById("mon_manage")
function show_manage() {
  if (slot.hidden == true) {
    slot.hidden = false;
  } else {
    slot.hidden = true;
  }
}
</script>

{% endif %}

{% endblock %}
