{% extends "layout.html" %}
{% block body %}

<h5>Search</h5>
<form method="POST" action="{{ url_for('enviros_index') }}">
  <div class="form-group row meddiv">
    <div class="col-auto px-lg-3">
      {{ form.name(placeholder="Name", id="name", class="form-control border-white", maxlength="35") }}
    </div>
    <div class="col-auto px-lg-1">
      {{ form.etype(id="etype", class="form-control border-white") }}
    </div>
  </div>
  <div class="form-group row meddiv">
    <div class="col-auto px-lg-3">
      {{ form.whose(id="whose", class="form-control border-white") }}
    </div>
    <div class="col-3 px-lg-1">
      {{ form.owner(placeholder="Creator", id="owner", class="form-control border-white") }}
    </div>
    <div class="col-2 px-lg-1">
      <button type="submit" class="btn btn-block btn-info border-white"><b>Search</b></button>
    </div>
    <div class="col-2 px-lg-0">
      <input type="reset" value="Reset Filters" class="btn btn-link text-danger"/>
    </div>
  </div>
</form>
<br>

<h5>Environments</h5>
{% if enviros %}

<div class="smdiv">
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col" class="text text-center">Environment</th>
      <th scope="col" class="text text-center">Type</th>
      <th scope="col" class="text text-center">Public</th>
      <th scope="col" class="text text-center">Creator</th>
      <th scope="col" class="text text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for enviro in enviros %}
    <tr>
      <td class="text text-center"> {{ enviro.name }} </td>
      <td class="text text-center"> {{ enviro.etype }} </td>
      {% if enviro.public %}
      <td class="text text-center"> Yes </td>
      {% else %}
      <td class="text text-center"> No </td>
      {% endif %}
      <td class="text text-center"> {{ enviro.account_name }} </td>
      <td>
        <form method="GET" action="{{ url_for('enviros_show', enviro_id=enviro.id) }}">
          <button type="submit" class="btn btn-outline-dark btn-sm">Show</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<br><p>No results.</p>
{% endif %}

{% endblock %}
