{% extends "layout.html" %}

{% block body %}

{% block query %}
{% endblock %}

<button onclick="most_enviros_query()">Users with most environments</button>
<br><br>
<div id="query"></div>

<script>
  var x = "<p><b>Ranking: Most environments created</b></p>"
  + "<table>"
  + "<tr><th>User</th><th>Environments</th></tr>"
  + "{% for user in users %}"
  + "<tr><td> {{ user.name }}</td><td> {{ user.id }}</td></tr>"
  + "{% endfor %}</table><br>"

  var a = document.getElementById("query")

  function most_enviros_query() {
    if (a.innerHTML == "") {
      a.innerHTML = x;
    } else {
      a.innerHTML = "";
    }
  }
</script>

<h5>Environments</h5>

{% if enviros is defined %}

  <table>
    <tr>
      <th>Environment</th>
      <th>Type</th>
      <th>Public</th>
      <th>Creator</th>
    </tr>
    {% for enviro in enviros %}
    <tr>
      <td> {{ enviro.name }} </td>
      <td> {{ enviro.etype }} </td>
      <td> {{ enviro.public }} </td>
      <td> {{ enviro.account_name }} </td>
      <td>
        <form method="GET" action="{{ url_for('enviros_show', enviro_id=enviro.id) }}">
          <input type="submit" value="Show"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<p>Nothing here yet. <a href="{{ url_for('enviros_form') }}">Create a new environment.</a></p>
{% endif %}

{% endblock %}
