{% extends "enviros/enviro.html" %}

{% block manage %}

{% if all_monsters is defined %}
<form method=["POST"] action="{{ url_for('enviros_add_monster', enviro_id=enviro.id) }}">
  <label for="add_mon"><b>Add a monster</b></label> <br>
  <select name="addmon" id="add_mon">
    {% for monster in all_monsters %}
    <option value="{{ monster.id }}">{{ monster.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Add"/>
</form>
{% else %}
<p> No available monsters to add. </p>
{% endif %}

{% if local_monsters is defined %}
<form method=["POST"] action="{{ url_for('enviros_remove_monster', enviro_id=enviro.id) }}">
  <label for="remove_mon"><b>Remove a monster</b></label> <br>
  <select name="removemon" id="remove_mon">
    {% for monster in local_monsters %}
    <option value="{{ monster.id }}">{{ monster.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Remove" disabled> <i> This feature is still being worked on. </i>
</form>
{% else %}

{% endif %}

{% endblock %}
