{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('enviros_create') }}">

  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label font-weight-bold">{{ form.name.label }}</label>
    <div class="col-auto">
      {{ form.name(class="form-control", id="name", maxlength="35", placeholder="Environment") }}
      <small class="form-text text-danger">
      {% for error in form.name.errors %}{{ error }}<br>{% endfor %}</small>
    </div>
  </div>

  <div class="form-group row">
    <label for="etype" class="col-sm-2 col-form-label font-weight-bold">{{ form.etype.label }}</label>
    <div class="col-auto">
      {{ form.etype(class="form-control", id="etype") }}
      <small class="form-text text-danger">
      {% for error in form.etype.errors %}{{ error }}<br>{% endfor %}</small>
    </div>
  </div>

  <div class="form-group">
    <label for="descrip" class="font-weight-bold">{{ form.descrip.label }}</label>
    {{ form.descrip(class="form-control", id="descrip", rows="10", required=True) }}
    <small class="form-text text-danger">
    {% for error in form.descrip.errors %}{{ error }}<br>{% endfor %}</small>
  </div>

  <div class="form-check">
    {{ form.public(class="form-check-input", id="public") }}
    <label class="form-check-label font-weight-bold" for="public">{{ form.public.label }}</label>
  </div>

  <button type="submit" class="btn btn-light" id="submitter" onclick="fill_empty()">Create</button>

<script>

  var descrip = document.getElementById("descrip")

  function fill_empty() {
    if (descrip.value == "") {
      descrip.value = "(Description to be added.)";
    }
  }

</script>

</form>

{% endblock %}
